<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {{ with .Site.Params.description -}}
  <meta name="description" content="{{ . }}">
  {{ end }}
  {{ printf `<link rel="shortcut icon" href="%s">` ("favicon.ico" | absURL) | safeHTML }}
  {{ with .OutputFormats.Get "rss" -}}
      {{ printf `<link rel="%s" type="%s" href="%s" title="%s">` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
  {{ end -}}

  {{ $resources := slice -}}

  {{ $resources = $resources | append (resources.Get "css/main.css") -}}

  {{ $resources = $resources | append (resources.Get "css/min770px.css") -}}

  {{ $dark := .Site.Params.dark | default "auto" -}}
  {{ if not (eq $dark "off") -}}
      {{ $resources = $resources | append (resources.Get "css/dark.css" | resources.ExecuteAsTemplate "dark.css" .) -}}
  {{ end -}}

  {{ if .Site.Params.highlight -}}
      {{ $resources = $resources | append (resources.Get "css/syntax.css") -}}
  {{ end -}}

  {{ $css := $resources | resources.Concat "css/style.css" | minify }}
  {{ printf `<link rel="stylesheet" href="%s">` $css.RelPermalink | safeHTML }}

  <title>{{ .Title }}</title>

  <!-- Twitter Card -->
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:url" content="{{ .Permalink }}" />
  <meta name="twitter:site" content="@yuseinishiyama" />
  <meta name="twitter:creator" content="@yuseinishiyama" />

  <!-- OG data -->
  <meta name="og:title" content="{{ .Title }}" />
  <meta name="og:description" content="{{ if .IsPage }}{{ .Summary }}{{ else }}{{ .Site.Params.description }}{{ end }}" />
  <meta name="og:image" content="{{ .Site.BaseURL }}{{ .Params.eyecatch }}" />

  <!-- JSON-LD -->
  <script type="application/ld+json">
    {
      "@context" : "http://schema.org",
      "@type" : "BlogPosting",
      "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "{{ .Site.BaseURL }}"
      },
      "articleSection" : "{{ .Section }}",
      "name" : "{{ .Title }}",
      "headline" : "{{ .Title }}",
      "description" : "{{ if .Description }}{{ .Description }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ end }}{{ end }}",
      "inLanguage" : "en-US",
      "author" : "{{ range .Site.Author }}{{ . }}{{ end }}",
      "creator" : "{{ range .Site.Author }}{{ . }}{{ end }}",
      "publisher": "{{ range .Site.Author }}{{ . }}{{ end }}",
      "accountablePerson" : "{{ range .Site.Author }}{{ . }}{{ end }}",
      "copyrightHolder" : "{{ range .Site.Author }}{{ . }}{{ end }}",
      "copyrightYear" : "{{ .Date.Format "2006" }}",
      "datePublished": "{{ .Date }}",
      "dateModified" : "{{ .Date }}",
      "url" : "{{ .Permalink }}",
      "wordCount" : "{{ .WordCount }}",
      "keywords" : [ {{ if isset .Params "tags" }}{{ range .Params.tags }}"{{ . }}",{{ end }}{{ end }}"Blog" ]
    }
  </script>

  {{ template "_internal/google_analytics.html" . }}
</head>
